html{
    font-size: 16px;
}
body{
    size: 100vw auto;
    margin: 0px;
    background-color: rgba(21, 17, 42, 0);
    color: rgba(232, 128, 10, 1);
    font-family: sans-serif;
    font-size: 1rem;
    padding: 0px;
}
.white{
    color: white;
}
#header-container{
    background-image: linear-gradient(rgba(15, 23, 43, 0.7), rgba(15, 23, 43, 0.9)), url(imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#nav-bar{
    font-size: 1.2rem;
    padding: 1.5rem;
    padding-top: 3rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-bar a:hover{
    color:  rgb(242, 132, 7);
}

#logo-img{
    width: 4rem;
    height: 4rem;
}

#cafe-name{
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#first-nav, #more-nav{
    display: flex;
    list-style: none;
    align-items: center;
    /* justify-content: space-between; */
}

#more-nav>a{
    text-decoration: none;
    color: white;
    /* max-width: ; */
    padding-left: 1rem;
}

#forget-password-form{
    display: flex;
    justify-content: space-around;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 10rem;
}
#forget-password-form input[type="text"], #forget-password-form input[type="password"]{
    padding: .8rem;
    height: 1rem;
    max-width: 200px;
    font-size: .7em;
    border: none;
    border-bottom: 0.3rem solid rgba(4,0,0,0.5);
    color: white;
    background-color: rgba(0,0,0,0);
}
#forget-password-form div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

label{
    color: rgb(242, 132, 7);
    font-size: 1.5rem;
    margin-right: 1rem;
}
#sign-in-button{
    height: 3rem;
    width: 9rem;
    background-color: rgba(232, 128, 10, 1);
    color: white;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#sign-in-button:hover{
    color: rgba(232, 128, 10, 1);
    background-color: white;
}
.make-center{
    display: flex;
    justify-content: center;
}
@media (min-width:1800px) {
    #nav-bar{
        font-size: 4rem;
        padding: 10rem;
    }
    #more-nav >a{
        padding: 4rem;
    }
    #cafe-name{
        font-size: 12rem;
    }
    #logo-img{
        width: 12rem;
        height: 12rem;
    }
    label{
        font-size: 4rem;
        padding: 2rem;
        margin-right: 3rem;
    }
    #sign-in-button{
        font-size: 4rem;
        height: 7rem;
        width: 25rem;
        margin: 6rem;
    }
    #sign-up-form input[type="text"], #sign-up-form input[type="password"]{
        font-size: 3.5rem;
        height: 4rem;
        max-width: 800px;
    }
}
form a{
    font-size: 1rem;
}
@media (max-width:370px){
    #more-nav{
        display: none;
    }
}
#forgot-password{
    font-size: 0.7rem;
    color: white;
    margin-bottom: 3rem;
}
#forgot-password:hover{
    color: rgba(232, 128, 10, 1)
}
.center{
    display: flex;
    justify-content: center;
}
footer{
    background-color: rgba(3, 3, 3, 0.9);
    height: auto;
    display: flex; 
    flex-wrap: wrap;       
    justify-content: space-around;
}

footer>div{
    padding: 10rem;
}





