root{
    font-size: 16px;
}
body{
    size: 100vw auto;
    margin: 0px;
    background-color: rgba(21, 17, 42, 0);
    color: rgba(232, 128, 10, 1);
    font-family: sans-serif;
    font-size: 2rem;
    padding: 0px;
}
.white{
    color: white;
}
#header-container{
    background-image: linear-gradient(rgba(15, 23, 43, 0.7), rgba(15, 23, 43, 0.9)), url(../imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


#sign-up-form{
    display: flex;
    justify-content: space-around;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 10rem;
}
#sign-up-form input[type="text"], #sign-up-form input[type="password"]{
    padding: .8rem;
    height: 1rem;
    max-width: 200px;
    font-size: .7em;
    border: none;
    border-bottom: 0.3rem solid rgba(4,0,0,0.5);
    color: white;
    background-color: rgba(0,0,0,0);
}

/* input[type="password"] {
    -webkit-text-security: disc;
    background-color: transparent;
    
  } */
  
#sign-up-form div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

label{
    color: rgb(242, 132, 7);
    font-size: 1.5rem;
    margin-right: 1rem;
}

#sign-in-button, select{
    padding: .5rem 1rem .5rem;
    background-color: rgba(232, 128, 10, 1);
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
select{
    background-color: rgba(15, 23, 43, 0.7);
}
#sign-in-button:hover{
    color: rgba(232, 128, 10, 1);
    background-color: white;
}
.make-center{
    display: flex;
    justify-content: center;
}
@media (min-width:1800px) {
    label{
        font-size: 4rem;
        padding: 2rem;
        margin-right: 3rem;
    }
    #sign-in-button{
        font-size: 4rem;
        height: 7rem;
        width: 25rem;
        margin: 6rem;
    }
    #sign-up-form input[type="text"], #sign-up-form input[type="password"]{
        font-size: 1rem;
        height: 4rem;
        max-width: 800px;
    }
}



form a{
    font-size: 1rem;
}

#forgot-password{
    font-size: .9rem;
    text-decoration: none;
    color: white;
    margin-bottom: 3rem;
}
#forgot-password:hover{
    color: rgba(232, 128, 10, 1)
}
.center{
    display: flex;
    justify-content: center;
}


